* {
    margin: 0;
    padding: 0;

}

body{
    background-color: #f4d04e;
}

.card{
    width: 350px;
    margin: 80px auto;
    background: white;
    padding: 18px;
    border-radius: 18px;
    box-shadow: 6px 6px 6px black;
}

.card__image{
    width: 100%;
    margin-bottom: 24px;
    border-radius: 12px;
}

#card__tag{
    padding: 8px;
    background-color: #f4d04e;
    font-weight: bold;
    border-radius: 4px;
}

.card p{
    margin: 24px 0;
}

.card__title{
    font-size: 1.35rem;
}

.card__description{
    color: hsl(0, 0%, 50%);
}

.card__avatar{
    display: flex;
    align-items: center;
}

.card__avatar img{
    width: 48px;
    margin-right: 16px;
}

/* Pseudo Class */
.card:hover{
   background-color: black;
   color: white;
}

/* Pseudo Element */
.card__description::first-letter{
    color: red;
    font-size: 4rem;
}


.card::before{
    content: 'Before the card';
}

.card::after{
    content: 'After the card';
}